html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.icon {
  display: inline-block;
  font-size: 32px;
  width: 32px;
  height: 32px;
  background-image: url("./icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 rgba(255, 255, 255, 0.7));
}

.btn {
  display: block;
  margin-bottom: 30px;
}
