.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  color: #524940;
  border: 15px solid;
  position: relative;
  background-color: currentColor;
  grid-gap: 1px;
  overflow: hidden;
}

.list-item {
  position: relative;
  text-align: center;
  color: #e9e3e1;
  padding: 30px 15px;
  text-decoration: none;
  border-radius: 15px;
  margin: -1px;
  overflow: hidden;
  transition: 0.2s;
  outline: 0;
}

.list-item:hover,
.list-item:focus {
  z-index: 1;
  color: #ffdd40;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  /*inset: 1px;*/
  pointer-events: none;
  box-shadow: 0 0 0 1px currentColor;
}

.list-item-icon {
  font-size: 30px;
}

.list-item-title {
  font-size: 16px;
  display: block;
  margin-top: 15px;
}

css-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 20px;
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: middle;
  position: relative;
}

css-icon::before,
css-icon::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon-mail::before {
  width: 0.9em;
  height: 0.75em;
  border: 2px solid;
  border-radius: 2px;
}

.icon-mail::after {
  width: 0.4em;
  height: 0.4em;
  border-style: solid;
  border-width: 0 0 2px 2px;
  -ms-transform: translate(-50%, -0.35em) rotate(-45deg) skew(10deg, 10deg);
  transform: translate(-50%, -0.35em) rotate(-45deg) skew(10deg, 10deg);
}
