html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

/* flex实现等高布局 */
.list {
  max-width: 1218px;
  min-width: 794px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;
}

.caption {
  flex-basis: 100%;
}
.item {
  flex-shrink: 0;
  width: 388px;
  background-color: red;
  margin-bottom: 18px;
}

@media (min-width: 876px) {
  .container {
    width: 876px;
  }
}
@media (min-width: 1282px) {
  .container {
    width: 1282px;
  }
}
